/*---------------------------------------------------------
----------------------PHONE AND SMALL DEVICES--------------
-----------------------------------------------------------*/

@media(max-width: 1300px) and (min-width: 801px) {
    body {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        background-color: #f0eceb;
        user-select: none;
    }
    header {
        top: 35px;
        width: auto;
        height: calc(100vh);
        background: url("./srcs/123.jpg");
        background-size: cover;
    }
    #mouse {
        position: absolute;
        bottom: 50px;
        height: 50px;
        width: 30px;
        border-radius: 25px;
        border: 3px solid white;
        margin-left: calc((100vw - 25px) / 2);
        box-sizing: border-box;
        padding: 11px;
    }
    .mouseScroller {
        width: 3px;
        height: 10px;
        background-color: white;
        animation-name: scrolley;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }
    @keyframes scrolley {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        100% {
            opacity: 0;
            transform: translateY(8px);
        }
    }
    aside>p {
        margin-top: 50px;
    }
    main {
        /* top: 100vh; */
        width: 100%;
        margin-top: 45px;
    }
    #img1, #img2, #img3, #img4, #img5, #img6 {
        border-radius: 3px;
        max-width: 70%;
        height: auto;
    }
    aside {
        float: left;
        margin-top: 25px;
        width: 90%;
        box-sizing: border-box;
        text-align: justify;
        box-sizing: border-box;
        padding: 5%;
        margin-left: 5%;
        font-family: 'Roboto Slab', serif;
    }
    footer {
        margin-top: 150px;
        position: static;
        clear: both;
        height: 95vh;
        width: 100%;
        background: radial-gradient( #729f98, #c2d4d8);
    }
    .slideshow-container {
        position: absolute;
        top: 330%;
    }
    header>p {
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        padding-top: 8%;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 6px;
    }
    .scrollDiv {
        height: calc(100vh + 50px);
    }
    .buttonContainer {
        background: #bcd5d1;
        height: 80px;
        width: 100%;
        padding-top: 10px;
        top: 0px;
        z-index: 99;
        clear: both;
    }
    .buttonContainer>button {
        font-family: 'Abril Fatface', cursive;
        font-size: 1.7em;
    }
    #homeB {
        margin-left: 75px;
    }
    button {
        float: left;
        margin-left: 15px;
        height: 65px;
        border: 2px solid rgb(0, 87, 109);
        background: transparent;
        color: rgb(0, 87, 109);
        cursor: pointer;
        box-shadow: 1px 1px 6px rgb(0, 87, 109);
    }
    button:hover {
        /* background: white; */
        /* color: black; */
        transform: scale(1.05);
        box-shadow: 3px 3px 6px rgb(0, 87, 109);
        transition: 0.2s ease;
    }
    .activeB {
        transform: scale(1.05);
        box-shadow: 3px 3px 6px rgb(0, 87, 109);
    }
    .rezerva {
        float: right;
        margin-right: 50px;
        justify-content: right;
        font-family: 'Abril Fatface', cursive;
    }
    #graySc {
        transition: opacity 600ms, visibility 600ms;
    }
    .verticalImage {
        position: relative;
        width: 48%;
        height: 100%;
        float: right;
        margin-right: 1%;
    }
    .verticalImage :nth-child(n) {
        margin-top: 50px;
        margin-left: 15%;
    }
    .topFooterContainer {
        color: white;
        height: 80%;
    }
    .botFooterContainer {
        height: 20%;
        width: 30%;
        background: url('./srcs/vector1.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 35%;
    }
    #map {
        width: 60%;
        height: 60%;
        left: 20%;
        top: 5%;
        z-index: 9999;
    }
    address {
        float: left;
        margin-top: 5%;
        margin-left: 10%;
        width: 20%;
        height: 15%;
    }
    .testimoniale {
        float: right;
        width: 80vw;
        height: 60vh;
        margin-right: 10%;
        margin-left: 10%;
        border: 2px solid black;
        box-sizing: content-box;
        border-radius: 3px;
        overflow: hidden;
    }
    #allTestimonials {
        height: auto;
        width: auto;
        border: 1px solid rgb(0, 87, 109);
        position: relative;
        float: right;
        text-align: center;
        margin-right: calc((100vw)/3 );
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        clear: right;
        padding: 20px;
        font-size: 2em;
        box-shadow: 0px 2px rgb(15, 129, 158);
        font-family: 'Abril Fatface', cursive;
        background-color: rgb(209, 216, 218);
        transition: 0.3s linear;
    }
    #allTestimonials > i {
        width: 25px;
        transform: scale(1.2);
        color: #e62739;
        text-shadow: 1px 1px 2px #e62739;
    }
    #allTestimonials > span {
        color: rgb(0, 87, 109);
    }
    .testimoniale>p {
        position: absolute;
        vertical-align: top;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
        z-index: 999;
    }
    #allTestimonials:hover{
        transform: scale(1.2);
        box-shadow: 2px 3px 2px rgb(15, 129, 158);
    }
    hr {
        width: 60%;
        background: black;
        border-top: 2px solid gray;
    }
    #aboutPage {
        position: absolute;
        top: 90px;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
    }
    #testiPage {
        position: absolute;
        top: 100px;
        width: 100%;
        height: auto;
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        min-height: calc(100vh - 50px);
    }
    .oferte {
        position: fixed;
        transform: translate(35%, 20%);
        height: 66%;
        width: 60%;
        border: 1px solid black;
        background: rgb(54, 53, 53);
        opacity: 0.9;
        border: 1px solid black;
        z-index: 98;
        color: white;
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }
    .oferte>.oferteM>ul {
        list-style-type: none;
    }
    .imageBig {
        position: fixed;
        transform: translate(7.5%, 20%);
        height: 70%;
        width: 85%;
        border: 1px solid black;
        background-size: contain;
        background: black;
        opacity: 1;
        z-index: 999;
        color: white;
    }
    .xClose {
        position: relative;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: black;
        color: white;
        float: right;
        margin-right: -6px;
        cursor: pointer;
        border: 1px solid black;
    }
    .xClose:before, .xClose:after {
        content: "×";
        position: absolute;
        margin-top: -8px;
        font-size: 3em;
        margin-left: -13px;
        font-family: Arial;
    }
    .oferteM {
        width: 100%;
        height: 33%;
        border: 1px solid white;
    }
    .oferteM>p {
        margin-top: 2%;
    }
    .oferteM>ul {
        margin-top: 2%;
    }
    .buttonUp {
        position: fixed;
        cursor: pointer;
        right: 5px;
        top: 80%;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        opacity: 0.9;
        z-index: 100;
        width: 25px;
        display: flex;
        justify-content: center;
        background-color: #b3c2bf;
        animation: uppy 1.5s linear infinite;
    }
    .buttonUp>i {
        margin-left: 33%;
        transform: scale(3);
    }
    @keyframes uppy {
        0% {
            transform: translate(0px, 0px)
        }
        50% {
            transform: translate(0px, -7px);
        }
        100% {
            transform: translate(0px, 0px)
        }
    }
    #sageataDr {
        position: relative;
        float: right;
        top: 50%;
        right: 2%;
        transform: scale(2);
        cursor: pointer;
    }
    #sageataSt {
        position: relative;
        float: left;
        top: 50%;
        left: 2%;
        transform: scale(2);
        cursor: pointer;
    }
    #sageataDr, #sageataSt {
        user-select: none;
    }
    #circle1, #circle2, #circle3 {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: gainsboro;
        position: relative;
        top: 90%;
        float: left;
        margin-left: 5px;
        left: 45%;
        cursor: pointer;
    }
    .reservationPage {
        position: absolute;
        top: 90px;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
    }
    .reservationPage>form {
        width: 50vw;
        margin-left: 25%;
        margin-right: 5%;
    }
    .reservationPage>form>table {
        margin-left: 25%;
        margin-top: 25%;
    }
    #subBut {
        position: absolute;
        bottom: 15%;
        margin-left: 22.5%;
    }
    .copyright {
        height: 44px;
        text-align: center;
        line-height: 44px;
        vertical-align: middle;
        font-size: 22px;
        background: radial-gradient( #729f98, #c2d4d8);
        font-family: 'Dancing Script', cursive;
    }
    h2 {
        text-align: center;
    }
    div#page_loader {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0%;
        left: 0;
        right: 0%;
        background-color: white;
        z-index: 99999;
    }
}