@media (min-width: 1301px) {
    body {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        background-color: #f0eceb;
        user-select: none;
    }
    header {
        top: 35px;
        width: auto;
        height: 100vh;
        background: url("./srcs/123.jpg");
        background-size: cover;
    }
    #mouse {
        position: absolute;
        bottom: 50px;
        height: 50px;
        width: 30px;
        border-radius: 25px;
        border: 3px solid white;
        margin-left: calc((100vw - 25px) / 2);
        box-sizing: border-box;
        padding: 11px;
    }
    .mouseScroller {
        width: 3px;
        height: 10px;
        background-color: white;
        animation-name: scrolley;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }
    @keyframes scrolley {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        100% {
            opacity: 0;
            transform: translateY(8px);
        }
    }
    aside>p {
        margin-top: 50px;
    }
    main {
        float: right;
        width: 62vw;
    }
    #img1, #img2, #img3, #img4, #img5, #img6 {
        border-radius: 3px;
        max-width: 70%;
        height: auto;
    }
    aside {
        float: left;
        width: 28%;
        box-sizing: border-box;
        text-align: justify;
        box-sizing: content-box;
        padding: 2.5%;
        font-family: 'Roboto Slab', serif;
    }
    footer {
        margin-top: 150px;
        position: static;
        clear: both;
        height: 95vh;
        width: 100%;
        background: radial-gradient( #729f98, #c2d4d8);
    }
    .slideshow-container {
        position: absolute;
        top: 330%;
    }
    header>p {
        position: absolute;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        padding-top: 8%;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 6px;
    }
    .scrollDiv {
        height: calc(100vh + 45px);
    }

    #lineLeft{
        position: relative;
        width: 30%;
        height: 2px;
        background-color: black;
        top:40%;
        left: 2%;
        transform: scaleX(1);
        border-radius: 50%;
    }

    #lineRight{
        float: right;
        position: relative;
        width: 30%;
        height: 2px;
        background-color: rgb(41, 39, 39);
        top:40%;
        right: 2%;
        transform: scaleX(1);
        border-radius: 50%;
    }

    .buttonContainer {
        background: #bcd5d1;
        height: 45px;
        width: 100%;
        padding-top: 10px;
        top: 0px;
        clear: both;
        z-index: 99;
    }

    .buttonContainer > p{
        float:left;
        margin-left: 1.3%;
        font-size: 1.3em;
        font-family: 'Jua', sans-serif;
    }

    .buttonContainer > p {
        margin-top: 2px;
    }

    p:nth-child(9){
        margin-left: 33%;
    }
    /* #homeB {
        margin-left: 75px;
    }
    button {
        font-family: 'Abril Fatface', cursive;
        font-size: 1.05em;
        float: left;
        margin-left: 15px;
        height: 35px;
        border: 2px solid rgb(0, 87, 109);
        background: transparent;
        color: rgb(0, 87, 109);
        cursor: pointer;
        box-shadow: 1px 1px 6px rgb(0, 87, 109);
    }
    button:hover {
        transform: scale(1.05);
        box-shadow: 3px 3px 6px rgb(0, 87, 109);
        transition: 0.2s ease;
    }*/
    .activeB {
        transform: scale(1.1);
        text-shadow: 1px 1px 4px rgb(0, 87, 109);
    } 
    /* .rezerva {
        float: right;
        margin-right: 50px;
        justify-content: right;
        font-family: 'Abril Fatface', cursive;
    } */
    #graySc {
        transition: opacity 600ms, visibility 600ms;
    }
    .verticalImage {
        position: relative;
        width: 48%;
        height: 100%;
        float: right;
        margin-right: 1%;
    }
    main :nth-child(1) :nth-child(1) {
        margin-top: 75px;
    }
    main :nth-child(2) :nth-child(1) {
        margin-top: 25px;
    }
    .verticalImage :nth-child(n) {
        margin-top: 50px;
        margin-left: 15%;
    }
    .topFooterContainer {
        color: white;
        height: 80%;
    }
    .botFooterContainer {
        height: 20%;
        width: 30%;
        background: url('./srcs/vector1.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 35%;
    }
    #map {
        width: 60%;
        height: 60%;
        left: 20%;
        top: 5%;
    }
    address {
        float: left;
        margin-top: 5%;
        margin-left: 10%;
        width: 20%;
        height: 15%;
    }
    .testimoniale {
        float: right;
        width: 50vw;
        height: 60vh;
        margin-right: 6%;
        border: 2px solid black;
        box-sizing: content-box;
        border-radius: 3px;
    }
    #allTestimonials {
        height: auto;
        width: auto;
        border: 1px solid rgb(0, 87, 109);
        position: relative;
        float: right;
        text-align: center;
        margin-right: calc((100vw - 40vw)/2 - 90px);
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        clear: right;
        padding: 5px;
        box-shadow: 0px 2px rgb(15, 129, 158);
        font-family: 'Abril Fatface', cursive;
        background-color: rgb(209, 216, 218);
        transition: 0.3s linear;
    }
    #allTestimonials>i {
        width: 25px;
        transform: scale(1.2);
        color: #e62739;
        text-shadow: 1px 1px 2px #e62739;
    }
    #testiDiv {
        overflow: hidden;
        /* text-align: justify; */
        max-width: 35vw;
        word-wrap: break-word;
    }
    #allTestimonials>span {
        color: rgb(0, 87, 109);
    }
    .testimoniale>p {
        position: absolute;
        vertical-align: top;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
        z-index: 999;
    }
    #allTestimonials:hover {
        transform: scale(1.2);
        box-shadow: 2px 3px 2px rgb(15, 129, 158);
    }
    hr {
        width: 60%;
        background: black;
        border-top: 2px solid gray;
    }
    .oferte {
        position: fixed;
        transform: translate(35%, 20%);
        height: 66%;
        width: 60%;
        border: 1px solid black;
        background: rgb(54, 53, 53);
        opacity: 0.9;
        border: 1px solid black;
        z-index: 98;
        color: white;
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }
    .oferte>.oferteM>ul {
        list-style-type: none;
    }
    .imageBig {
        position: fixed;
        transform: translate(20%, 20%);
        height: 70%;
        width: 70%;
        border: 1px solid black;
        background: black;
        opacity: 1;
        z-index: 999;
        color: white;
    }
    .xClose {
        position: relative;
        text-align: center;
        width: 20px;
        height: 25px;
        background-color: black;
        color: white;
        float: right;
        margin-right: -6px;
        cursor: pointer;
        border: 1px solid black;
    }
    .xClose:before, .xClose:after {
        content: "×";
        position: absolute;
        margin-top: -8px;
        font-size: 35px;
        margin-left: -10px;
        font-family: Arial;
    }
    .oferteM {
        width: 100%;
        height: 33%;
        border: 1px solid white;
    }
    .oferteM>p {
        margin-top: 2%;
    }
    .oferteM>ul {
        margin-top: 2%;
    }
    .buttonUp {
        position: fixed;
        cursor: pointer;
        right: 5px;
        top: 80%;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        opacity: 0.9;
        z-index: 100;
        width: 20px;
        display: flex;
        justify-content: center;
        background-color: #b3c2bf;
        animation: uppy 1.5s linear infinite;
    }
    .buttonUp>i {
        margin-left: 4px;
        transform: scale(1.5);
    }
    @keyframes uppy {
        0% {
            transform: translate(0px, 0px)
        }
        50% {
            transform: translate(0px, -7px);
        }
        100% {
            transform: translate(0px, 0px)
        }
    }
    #sageataDr {
        position: relative;
        float: right;
        top: 50%;
        right: 2%;
        transform: scale(2);
        cursor: pointer;
    }
    #sageataSt {
        position: relative;
        float: left;
        top: 50%;
        left: 2%;
        transform: scale(2);
        cursor: pointer;
    }
    #sageataDr, #sageataSt {
        user-select: none;
    }
    #circle1, #circle2, #circle3 {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: gainsboro;
        position: relative;
        top: 90%;
        float: left;
        margin-left: 5px;
        left: 45%;
        cursor: pointer;
    }
    .reservationPage {
        position: absolute;
        top: 50px;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
    }
    .reservationPage>form {
        width: 50vw;
        margin-left: 25%;
        margin-right: 5%;
    }
    .reservationPage>form>table {
        margin-left: 25%;
        margin-top: 25%;
    }
    #aboutPage {
        position: absolute;
        top: 50px;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
    }
    #testiPage {
        min-height: calc(100vh - 50px);
        position: absolute;
        top: 50px;
        width: 100%;
        height: auto;
        background-color: #89bdd3;
        transition: all 1s linear;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        min-height: 100vh;
    }
    #subBut {
        position: absolute;
        bottom: 255px;
        margin-left: 22.5%;
    }
    .copyright {
        height: 44px;
        text-align: center;
        line-height: 44px;
        vertical-align: middle;
        font-size: 22px;
        background: radial-gradient( #729f98, #c2d4d8);
        font-family: 'Dancing Script', cursive;
    }
    h2 {
        text-align: center;
    }
    div#page_loader {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0%;
        left: 0;
        right: 0%;
        background-color: white;
        z-index: 99999;
    }
}

.imageBig>.fa {
    transform: scale(4.5);
    cursor: pointer;
}

.imageBig>.fa-angle-left {
    position: relative;
    top: 50%;
    left: 3.5%;
    animation: blink 2s linear infinite;
}

.imageBig>.fa-angle-right {
    position: relative;
    float: right;
    right: 3.5%;
    top: 50%;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        transform: scale(4.5)
    }
    10% {
        transform: scale(6)
    }
}

#divv {
    position: static;
    height: 50%;
    width: 50%;
    border: 1px solid black;
    margin-left: 25%;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 2%;
    word-wrap: break-word;
    text-align: justify;
}

#loading {
    display: block;
}

.l1 {
    margin-left: 44%;
    float: left;
    margin-top: 7.5%;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    animation: colors 5s linear infinite;
    animation-delay: 2.5s;
}

.l1>p {
    float: left;
}

.l1>p:nth-child(2), .l1>p:nth-child(3), .l1>p:nth-child(4) {
    animation: first 1s linear infinite;
}

.l1>p:nth-child(3) {
    animation-delay: 1s;
    /* color: #f0eceb; */
    visibility: hidden;
}

.l1>p:nth-child(4) {
    animation-delay: 2s;
    /* color: #f0eceb; */
    visibility: hidden;
}

@keyframes first {
    0% {
        /* color: #f0eceb;*/
        visibility: hidden;
    }
    50% {
        /* color: inherit; */
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes colors {
    0% {
        color: red;
    }
    33% {
        color: blue;
    }
    66% {
        color: cyan;
    }
    100% {
        color: red;
    }
}

.l2 {
    width: 96px;
    height: 48px;
    background: #eee;
    border-color: black;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    transform: translate(45vw, 50vh);
    animation: jump 3s linear infinite;
}

.l2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid black;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

.l2:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

@keyframes jump {
    0% {
        transform: translate(45vw, 25vh);
    }
    10% {
        transform: translate(42.5vw, 30vh);
    }
    20% {
        transform: translate(40vw, 35vh);
    }
    30% {
        transform: translate(37.5vw, 40vh);
    }
    40% {
        transform: translate(40vw, 44vh);
    }
    50% {
        transform: translate(45vw, 49vh);
    }
    60% {
        transform: translate(50vw, 44vh);
    }
    70% {
        transform: translate(54vw, 40vh);
    }
    80% {
        transform: translate(50, 35vh);
    }
    90% {
        transform: translate(47vw, 30vh);
    }
    100% {
        transform: translate(45vw, 25vh);
    }
}

#loaded {
    display: none;
}

p>a {
    position: relative;
    color: #000;
    text-decoration: none;
}

p:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}

p>a:hover {
    color: #000;
}

p>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    /* -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; */
}

p>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}